.bold_red {
    font-weight: 700;
    color: red;
    font-size: xx-large;
    text-shadow: #999999;
}

.bold_black {
    font-weight: 700;
    color: #404040;
    font-size: xx-large;
    text-shadow: #999999;
}

b.navbar_bold_red {
    color: red;
    outline-color: white;
    font-weight: 800;
}

b.navbar_bold_blue {
    font-weight: 700;
    color: #0e74bc;
    font-size: xx-large;
    text-shadow: #999999;
}