.bold_red {
    font-weight: 700;
    color: red;
    font-size: larger;
    text-shadow: #999999;
}

.bold_black {
    font-weight: 700;
    color: #404040;
    font-size: large;
    text-shadow: #999999;
}