.bold_red {
    font-weight: 700;
    color: red;
    font-size: xx-large;
    text-shadow: #999999;
}

.bold_black {
    font-weight: 700;
    color: #404040;
    font-size: xx-large;
    text-shadow: #999999;
}

b.navbar_bold_red {
    color: red;
    outline-color: white;
    font-weight: 800;
}

b.navbar_bold_blue {
    color: #0e74bc;
    outline-color: white;
    font-weight: 800;
}

b.navbar_bold_gray {
    color: #adadad;
    outline-color: white;
    font-weight: 800;
}

.font_fp_bold_red {
    color: red;
    font-weight: 600;
}

.font_fp_bold_blue {
    color: #0e74bc;
    font-weight: 600;
}

.font_fp_bold_gray {
    color: #6d6e72;
    font-weight: 600;
}

.main_heading_font_bold {
    color: red;
    font-weight: 700;
}