html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


#elly {
    display: inline-block;
    max-width: 25%;
    height: auto;
    max-height: 200%;
    margin-top: -10px;
}

.notag {
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
}

img.jumbotron.jbtspace {
    margin-bottom: -30px;
    margin-top: -70px;
}

.greenjungle {
    background: rgba(255, 255, 255, 0.91);
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
}



.navbar {
    /* background-image: url('/img/jungletop.png'); */
    /* background-repeat: repeat-x; */
    background-color: rgba(182, 218, 252, 0.91);
    /* color: #0a0a0a; */
    /* height: 194px; */
    border-color: rgba(8, 8, 8, 0);
}

.greenbody {
    background-color: rgba(75, 133, 49, 0.88);
}

.footerbrown {
    background-color: #3c1c0d;
    color: white;
}

.container.breadcrumbs {
    padding-top: 58px;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #464646 !important;
    background-color: rgba(182, 218, 252, 0.91);
}

.navbar .navbar-nav > li > a {
    color: #333 !important;
    background-color: rgba(182, 218, 252, 0.96);
}

a.navbar-brand {
    /* height: auto; */
    /* margin-top: 2%; */
    font-size: xx-large;
    /* max-height: 200%; */
}

.navbarfont {
    color: black !important;
}

li.dropdown.open {
    background-color: #b6dafc;
}

a.dropdown-toggle {
    background-color: #b6dafc !important;
}